$break-extra-large: 1200px
$break-large: 945px
$break-medium: 800px
$break-small: 668px
$break-extra-small: 500px

\:root
  --background-color: #{'{{ theme.background_color }}'}
  --primary-heading-text-color: #{'{{ theme.primary_heading_text_color }}'}
  --primary-text-color: #{'{{ theme.primary_text_color }}'}
  --secondary-text-color: #{'{{ theme.secondary_text_color }}'}
  --border-color: #{'{{ theme.primary_text_color }}'}
  --footer-border-color: #{'rgba(var(--primary-text-color-rgb), .4)'}
  --welcome-background-color: #{'{{ theme.welcome_background_color }}'}
  --welcome-text-color: #{'{{ theme.welcome_text_color }}'}

  --logo-max-height: #{"{{ theme.logo_image_size }}"}

  --button-text-color: var(--background-color)
  --button-background-color: var(--primary-text-color)
  --button-hover-background-color: #{'rgba(var(--primary-text-color-rgb), .8)'}

  --badge-text-color-primary: #{"{{ theme.badge_text_color_primary }}"}
  --badge-background-color-primary: #{"{{ theme.badge_background_color_primary }}"}
  --badge-text-color-secondary: #{"{{ theme.badge_text_color_secondary }}"}
  --badge-background-color-secondary: #{"{{ theme.badge_background_color_secondary }}"}

  --inventory-status-text-color: #{"{{ theme.inventory_status_text_color }}"}
  
  --announcement-background-color: #{"{{ theme.announcement_background_color }}"}
  --announcement-text-color: #{"{{ theme.announcement_text_color }}"}
  --announcement-scroll-duration: #{"{{ theme.announcement_scroll_speed | default: '15s' }}"}

  --primary-font: #{'{{ theme.primary_font | font_family }}'}
  --secondary-font: #{'{{ theme.secondary_font | font_family }}'}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --border-radius: #{'{{ theme.border_radius }}'}
  --border-radius-sm: 2px
  --spacing-unit: 16px

  --padding-size: 40px

  --header-height: 108px
  --header-height-mobile: 140px

  --font-scale: #{'{{ theme.global_text_scale | default: 1 }}'}
  --shop-name-scale: #{'{{ theme.shop_name_text_scale | default: 1 }}'}
  --product-grid-scale: #{'{{ theme.product_grid_scale | default: 1 }}'}
  --product-title-scale: #{'{{ theme.product_page_heading_scale | default: 1 }}'}
  --product-description-scale: #{'{{ theme.product_page_description_scale | default: 1 }}'}
  --header-scale: #{'{{ theme.header_text_scale | default: 1 }}'}
  --footer-scale: #{'{{ theme.footer_text_scale | default: 1 }}'}

  // Video player customization
  --video-rounded-radius: var(--border-radius)
  --video-margin-small: var(--spacing-unit)
  --video-margin-large: calc(var(--spacing-unit) * 2)
  --video-size-large: 100%

  @media screen and (max-width: $break-small)
    --padding-size: 20px
