$break-extra-large: 1200px
$break-large: 945px
$break-medium: 800px
$break-small: 668px
$break-extra-small: 500px

\:root
  --background-color: #{'{{ theme.background_color }}'}
  --primary-text-color: #{'{{ theme.primary_text_color }}'}
  --secondary-text-color: #{'{{ theme.secondary_text_color }}'}
  --border-color: #{'{{ theme.primary_text_color }}'}
  --footer-border-color: #{'rgba(var(--primary-text-color-rgb), .4)'}
  --welcome-background-color: #{'{{ theme.welcome_background_color }}'}
  --welcome-text-color: #{'{{ theme.welcome_text_color }}'}

  --button-text-color: var(--background-color)
  --button-background-color: var(--primary-text-color)
  --button-hover-background-color: #{'rgba(var(--primary-text-color-rgb), .8)'}

  --product-status-background-color: #{"{{ theme.announcement_background_color }}"}
  --product-status-text-color: #{"{{ theme.announcement_text_color }}"}

  --announcement-background-color: #{"{{ theme.announcement_background_color }}"}
  --announcement-text-color: #{"{{ theme.announcement_text_color }}"}

  --primary-font: #{'{{ theme.primary_font | font_family }}'}
  --secondary-font: #{'{{ theme.secondary_font | font_family }}'}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --border-radius: #{'{{ theme.border_radius }}'}
  --border-radius-sm: 2px
  --spacing-unit: 16px

  --padding-size: 40px

  @media screen and (max-width: $break-small)
    --padding-size: 20px