@import 'variables'

.empty-cart-message
  display: none
  text-align: center

  a
    margin: 0 auto

  .empty-cart &
    display: block

.cart-form
  margin: 0 auto
  width: 100%

.cart-items
  list-style: none
  margin: 0 0 40px
  padding: 0
  width: 100%

  .cart-item
    +flexbox
    +align-items(center)
    font-size: 16px
    line-height: 1.5em
    padding: 20px 0
    position: relative

    @media screen and (max-width: $break-small)
      +flex-wrap(wrap)

    &:after
      +opacity(.10)
      background: $secondary-color
      bottom: 0
      content: ""
      display: block
      height: 1px
      position: absolute
      width: 100%

  .item-image-details
    +flexbox
    +align-items(center)
    height: 180px
    max-width: 65%
    width: 100%

    @media screen and (max-width: $break-medium)
      max-width: 70%

    @media screen and (max-width: $break-small)
      max-width: 100%

  .item-image
    height: 100%
    max-width: 140px
    text-align: center
    width: 140px

    img
      height: 100%
      object-fit: cover
      width: 100%

  .item-details
    font-family: $primary-font
    max-width: calc(100% - 140px)
    padding: 0 30px
    width: 100%

    @media screen and (max-width: $break-small)
      padding: 0 20px

  .item-product-link
    color: $primary-color
    display: block
    font-size: 22px

    @media screen and (max-width: $break-medium)
      font-size: 20px

  .item-details-option
    color: $secondary-color
    display: block
    font-family: $secondary-font
    font-size: 14px
    line-height: 17px
    margin-top: 6px

  .item-quantity-holder
    +flexbox
    padding-right: 20px

    @media screen and (max-width: $break-medium)
      padding: 0

    @media screen and (max-width: $break-small)
      padding-top: 18px
      width: 140px

    button
      +border-radius(50%)
      background: none
      border: 1px solid $secondary-color
      color: $secondary-color
      height: 40px
      line-height: normal
      padding: 0
      width: 40px

      svg
        fill: $secondary-color
        height: 20px
        position: relative
        top: 1px
        width: 20px

        @media screen and (max-width: $break-small)
          height: 18px
          width: 18px

    input
      +appearance(none)
      background: none
      border: none
      color: $primary-color
      font-size: 16px
      height: 40px
      margin: 0 4px
      text-align: center
      width: 56px

  .item-details-price
    color: $primary-color
    font-family: $secondary-font
    font-size: 18px
    margin-left: auto
    padding-left: 20px
    text-align: right

    @media screen and (max-width: $break-small)
      padding-top: 18px

  &:last-child
    margin-bottom: 0

.cart-footer
  +flexbox
  +flex-direction(column)
  +justify-content(flex-end)
  margin-left: auto
  max-width: 300px
  width: 100%

  @media screen and (max-width: $break-small)
    +justify-content(center)
    margin: 0
    max-width: 100%

.cart-subtotal
  +flexbox
  color: $primary-color
  font-size: 22px
  margin-bottom: 40px

  @media screen and (max-width: $break-small)
    font-size: 26px

.cart-subtotal-amount
  margin-left: auto

.cart-buttons
  text-align: center

  @media screen and (max-width: $break-medium)
    display: none

a.continue-shopping
  display: inline-block
  font-size: 14px
  margin-top: 20px
  padding: 10px
  text-align: center
  width: auto