@import 'variables'

.contact-form

  .form-block
    margin-bottom: 40px
    text-align: left

  input
    height: 56px

  textarea
    height: 140px
    resize: vertical

  input, textarea
    width: 100%

    &:active, &:focus
      border: 1px solid $primary-color

  label
    display: block
    font-size: 18px
    margin-bottom: 20px

    @media screen and (max-width: $break-small)
      margin-bottom: 10px

  .contact-name, .contact-recaptcha, .contact-send, .contact-email
    display: block
    position: relative
    width: 100%

  .recaptcha-note
    color: $secondary-color
    display: block
    font-family: $secondary-font
    font-size: 14px
    line-height: 1.5em
    margin-top: 10px

    a
      text-decoration: underline

  .contact-send
    text-align: center
    width: 100%

    button
      margin: 30px auto
      width: 300px

      @media screen and (max-width: $break-small)
        max-width: 100%
        width: 100%

.message-sent
  line-height: 1.5em
  text-align: center