.contact-form

  .form-block
    margin-bottom: 32px
    text-align: left

  input
    height: 54px

  textarea
    height: 220px
    resize: vertical

  input, textarea
    width: 100%

    &:active, &:focus
      border: 1px solid var(--primary-text-color)

  label
    display: block
    margin-bottom: 8px

  .contact-name, .contact-recaptcha, .contact-send, .contact-email
    display: block
    position: relative
    width: 100%

  .recaptcha-note
    display: block
    font-family: var(--secondary-font)
    font-size: .975em
    margin-top: 10px
    text-align: center

    a
      text-decoration: underline

  .contact-send
    text-align: center
    width: 100%

    button
      margin: 30px auto
      width: 300px

      @media screen and (max-width: $break-small)
        max-width: 100%
        width: 100%

.message-sent
  text-align: center