html
  min-height: 100%
  position: relative

body
  display: flex
  flex-direction: column
  background-color: var(--background-color)
  color: var(--primary-text-color)
  font-family: var(--primary-font)
  font-size: 16px
  line-height: 1.5
  height: 100%
  min-height: 100vh

  &.overlay-open
    height: 100vh
    width: 100vw
    overflow: hidden
    overscroll-behavior: none

a.skip-link
  +transition(all .3s)
  background: var(--background-color)
  border: 1px solid var(--primary-text-color)
  color: var(--primary-text-color)
  left: 25px
  padding: 15px 20px
  position: absolute
  text-decoration: underline
  top: -150px
  z-index: 100

  &:focus
    top: 20px

a, a:visited
  color: var(--primary-text-color)
  text-decoration: none
  transition: color .2s linear

  &:hover
    text-decoration: underline
    color: var(--secondary-text-color)

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0
  padding: 0
  text-align: left

.errors
  border-radius: var(--border-radius)
  padding: 16px
  list-style: none
  margin: 0 0 40px
  text-align: center
  background-color: var(--error-background-color)
  color: var(--error-text-color)

.wrapper
  margin: 0 auto
  padding: 0 var(--padding-size)
  position: relative
  width: 100%
  max-width: 1300px

header
  background: var(--background-color)
  padding: 36px 0
  width: 100%
  z-index: 10

  .wrapper
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    grid-template-rows: 1fr
    +align-items(center)
    +justify-content(space-between)
    height: 100%
    position: relative
    z-index: 5
    column-gap: 16px

  .header-nav
    +flexbox
    +align-items(center)
    +justify-content(flex-start)
    left: -4px
    font-size: 1.1em
    position: relative
    text-align: left
    gap: 20px

    .menu-bars
      +flexbox
      +align-items(center)
      +justify-content(center)
      flex-shrink: 0
      color: var(--primary-text-color)
      padding: 0
      height: 36px
      position: relative
      width: 36px
      transition: color .2s linear

      &:hover
        color: var(--secondary-text-color)

      svg
        fill: currentColor
        height: 24px
        width: 24px

    .open-category-nav
      display: flex
      align-items: center
      gap: 8px
      transition: color .2s linear
      outline-offset: 4px

      &:hover
        color: var(--secondary-text-color)

    .header-category-nav
      position: relative
      width: 100%

      @media screen and (max-width: $break-small)
        display: none

    .category-nav-arrow
      flex-shrink: 0
      fill: currentColor
      height: 11px
      width: 15px

    .category-dropdown
      background: var(--background-color)
      transition: opacity .2s linear
      border-radius: var(--border-radius)
      border: 1px solid var(--primary-text-color)
      left: -23px
      margin: 0 auto
      min-width: 250px
      opacity: 0
      overflow-y: scroll
      padding: 15px
      position: absolute
      text-align: left
      visibility: hidden
      max-height: 500px
      z-index: 3
      top: calc(100% + 10px)
      scrollbar-width: thin
      scrollbar-color: var(--primary-text-color) transparent
      scrollbar-gutter: stable

      &[aria-hidden="false"]
        opacity: 1
        visibility: visible

      &::-webkit-scrollbar
        height: .375rem
        width: .75rem

      &::-webkit-scrollbar-track
        background-color: transparent

      &::-webkit-scrollbar-thumb
        border-radius: .375rem
        border: 3px solid transparent
        background-color: var(--primary-text-color)
        background-clip: content-box

      .dropdown-list
        list-style: none
        margin: 0
        padding: 0
        position: relative
        z-index: 4

        li
          display: block

          a
            display: block
            font-size: .95rem
            padding: 8px 10px

            &:hover
              text-decoration: underline

  .store-name
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.75em
    height: 100%
    text-align: center
    padding: 0 16px
    word-break: break-word

    @media screen and (max-width: $break-small)
      font-size: 1.3em

    &.image
      height: calc(var(--logo-max-height) * 1px)

      @media screen and (max-width: $break-small)
        // Min 60px, Max 110px
        height: clamp(60px, calc(var(--logo-max-height) * 0.8 * 1px), 110px)

      .store-link
        height: 100%

      img
        display: block
        height: auto
        margin: 0 auto
        max-height: 100%
        max-width: 100%
        width: auto

    .store-link
      display: flex
      align-items: center
      justify-content: center

  .header-cart
    display: flex
    align-items: center
    justify-content: flex-end
    position: relative
    text-align: right
    column-gap: 16px
    right: -4px

    .cart-link, .open-search
      border-radius: var(--border-radius)

      &:hover
        color: var(--secondary-text-color)

    @media screen and (max-width: $break-small)
      column-gap: 8px
      right: -8px

    .cart-link
      display: flex
      align-items: center
      justify-content: center
      height: 36px
      width: 36px
      position: relative
      text-align: center
      flex-shrink: 0
      transition: color .2s linear

      svg
        fill: currentColor

      &:hover
        color: var(--secondary-text-color)

      .cart-num-items
        font-size: 12px
        position: absolute
        top: 12px

    svg
      fill: var(--primary-text-color)
      height: 30px
      width: 30px

      @media screen and (max-width: $break-small)
        height: 26px
        width: 26px

    .open-search
      display: flex
      align-items: center
      justify-content: center
      width: 36px
      height: 36px

      svg
        height: 22px
        position: relative
        fill: currentColor
        top: 2px
        width: 22px

        @media screen and (max-width: $break-small)
          height: 20px
          width: 20px

.content
  flex: 1
  padding: 48px 0 120px

  @media screen and (max-width: $break-medium)
    padding-top: 40px
    padding-bottom: 80px

  @media screen and (max-width: $break-small)
    padding-top: 20px
    padding-bottom: 60px

  h1
    font-size: 2em
    margin-bottom: 60px
    text-align: center

    @media screen and (max-width: $break-small)
      margin-bottom: 40px

  &.product

    .wrapper
      max-width: 1200px

  &.custom

    .wrapper
      max-width: calc(800px + var(--padding-size))

    .custom-page-content
      font-family: var(--secondary-font)

      p
        margin: revert

      &>:first-child
        margin-top: 0

      &>:last-child
        margin-bottom: 0

      ol, ul
        margin: 1em

      ul
        list-style: disc

      ol
        list-style: decimal

      a
        text-decoration: underline
      
      img
        dislay: inline-block

  .page-title, .page-header 
    color: var(--primary-heading-text-color)

  &.page-contact
    .wrapper
      max-width: calc(760px + var(--padding-size))

  &.page-cart
    .wrapper
      max-width: calc(880px + var(--padding-size))


footer
  .wrapper
    display: flex
    flex-direction: column
    gap: 40px
    align-items: center
    margin: 0 auto
    padding: 40px 0
    border-top: 1px solid var(--footer-border-color)

.footer__pages
  width: 100%
  display: flex
  column-gap: 30px
  flex-wrap: wrap
  margin: 0 auto
  align-items: center
  justify-content: center
  row-gap: 12px

  @media screen and (max-width: $break-small)
    flex-direction: column

  a
    display: block
    padding: 2px

    &:hover
      text-decoration: underline

.social-icons
  display: flex
  gap: 20px
  list-style: none
  margin: 0
  padding: 0
  flex-wrap: wrap
  justify-content: center

  @media screen and (max-width: $break-small)
    gap: 16px

  a
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    width: 36px
    height: 36px

    svg
      fill: currentColor
      height: 22px
      width: 22px

      &.tumblr-icon
        width: 14px

.bigcartel-credit
  line-height: 1em
  font-size: .975em
  display: inline-flex
  align-items: center
  gap: 8px
  outline-offset: 4px
  padding: 2px 0
  text-decoration: none

  &:hover
    text-decoration: none

  &__text
    position: relative

  &__lockup
    display: block
    fill: currentColor
    padding-top: 1px
    width: 80px

.select
  border-radius: var(--border-radius)
  border: 1px solid var(--primary-text-color)
  font-family: var(--secondary-font)
  height: 60px
  padding: 0
  position: relative
  width: 100%

  select
    height: 100%
    padding: 0 50px 0 20px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    fill: currentColor
    pointer-events: none
    height: 8px
    margin-top: -2px
    position: absolute
    right: 20px
    top: 50%
    width: 13px
    z-index: 1

.button, a.button
  transition: background .2s linear
  background: var(--button-background-color)
  border-radius: var(--border-radius)
  color: var(--button-text-color)
  min-height: 60px
  display: flex
  align-items: center
  justify-content: center
  max-width: 275px
  padding: 20px
  text-align: center
  white-space: pre-wrap
  width: 100%

  &.minimal-button
    background: none
    color: var(--primary-text-color)
    border: none
    height: auto
    min-height: 0
    text-decoration: none
    transition: color .2s linear
    text-underline-offset: 4px

    &:not(:disabled):hover, &:not(:disabled):active
      text-decoration: underline
      box-shadow: none
      background: none
      color: var(--secondary-text-color)
      opacity: 1

  &:disabled, &.disabled
    cursor: not-allowed

  &.centered-button
    margin: 60px auto

  &:not(:disabled):hover, &:not(:disabled):active
    background: var(--button-hover-background-color)
    color: var(--button-text-color)

input, textarea
  border-radius: var(--border-radius)
  background: var(--background-color)
  border: 1px solid var(--primary-text-color)
  color: var(--primary-text-color)
  font-family: var(--secondary-font)
  max-width: 100%
  padding: 14px

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.message-banner
  padding: 16px
  margin: 0 auto 32px
  text-align: center
  width: 100%
  max-width: 760px

  &--centered
    text-align: center

  &--no-bg
    color: var(--primary-text-color)
    background: none
    padding: 0