html
  min-height: 100%
  position: relative

body
  background-color: var(--background-color)
  color: var(--primary-text-color)
  font-family: $primary-font
  font-size: 16px
  line-height: 1.5

  &.overlay-open
    overflow: auto !important
    overflow-x: hidden !important
    padding-right: 0 !important

  &.standalone-page
    color: var(--primary-text-color)
    padding: 140px 60px
    text-align: center

    @media screen and (max-width: $break-medium)
      padding: 80px 20px

    .maintenance-message
      display: flex
      flex-direction: column
      gap: 48px

    h1
      font-size: 2em
      text-align: center

    .maintenance-icons
      display: flex
      align-items: center
      column-gap: 24px
      row-gap: 16px
      flex-wrap: wrap
      justify-content: center
      padding: 0

      li
        display: inline-block

        a
          color: var(--secondary-text-color)
          display: block
          padding: 0 4px
          transition: opacity .2s linear

          svg
            fill: currentColor
            height: 22px
            width: 22px

          &:hover
            opacity: .6

a.skip-link
  +transition(all .3s)
  background: var(--background-color)
  border: 1px solid var(--primary-text-color)
  color: var(--primary-text-color)
  left: 25px
  padding: 15px 20px
  position: absolute
  text-decoration: underline
  top: -150px
  z-index: 100

  &:focus
    top: 20px

a, a:visited
  color: var(--primary-text-color)
  text-decoration: none

h1, h2, h3, h4, h5, h6
  font-weight: normal
  margin: 0
  padding: 0
  text-align: left

.errors
  border: 2px solid $error-text-color
  border-radius: var(--border-radius)
  padding: 12px
  color: $error-text-color
  list-style: none
  margin: 0 0 40px
  text-align: center

.wrapper
  +pie-clearfix
  margin: 0 auto
  padding: 0 7%
  position: relative
  width: 100%
  max-width: 1600px

  @media screen and (max-width: $break-small)
    padding: 0 20px

header
  background: var(--background-color)
  +transition(height .4s)
  height: $header-height
  position: sticky
  top: 0
  width: 100%
  z-index: 4

  .wrapper
    display: grid
    grid-template-columns: 1fr auto 1fr
    grid-template-rows: 1fr
    +align-items(center)
    +justify-content(space-between)
    height: 100%
    position: relative
    z-index: 5

  .header-nav
    +flex(1)
    +flexbox
    +align-items(center)
    +justify-content(flex-start)
    font-size: 18px
    text-align: left

    .open-menu
      cursor: pointer

      svg
        fill: var(--primary-text-color)
        height: 24px
        width: 24px

    .menu-bars
      +flexbox
      +align-items(center)
      +justify-content(center)
      background: none
      color: var(--primary-text-color)
      padding: 0
      height: 36px
      line-height: 1em
      margin-right: 20px
      position: relative
      width: 36px

    .category-nav-title
      margin-right: 8px

      @media screen and (max-width: $break-medium)
        display: none

    .category-nav
      +transform(translateZ(0))
      cursor: pointer
      position: relative
      width: auto
      z-index: 3

      @media screen and (max-width: $break-medium)
        display: none
        font-size: 18px

      @media screen and (max-width: $break-small)
        font-size: 16px
        max-width: 100%

      .category-nav-page
        color: var(--secondary-text-color)
        display: inline-block

      .category-nav-arrow
        transition: opacity .2s linear
        display: inline-block
        fill: var(--secondary-text-color)
        height: 11px
        margin-left: 2px
        width: 15px

      .category-dropdown
        background: var(--background-color)
        transition: opacity .2s linear
        border-radius: var(--border-radius)
        border: 1px solid var(--secondary-text-color)
        left: -23px
        margin: 0 auto
        min-width: 250px
        opacity: 0
        overflow-y: scroll
        padding: 15px
        position: absolute
        text-align: left
        visibility: hidden
        max-height: 500px
        z-index: 3
        top: calc(100% + 10px)
        scrollbar-width: thin
        scrollbar-color: var(--secondary-text-color) transparent
        scrollbar-gutter: stable

        &::-webkit-scrollbar
          height: .375rem
          width: .75rem

        &::-webkit-scrollbar-track
          background-color: transparent

        &::-webkit-scrollbar-thumb
          border-radius: .375rem
          border: 3px solid transparent
          background-color: var(--secondary-text-color)
          background-clip: content-box

        .category-dropdown-background
          opacity: 1
          border-radius: var(--border-radius)
          height: 100%
          left: 0
          position: absolute
          right: 0
          top: 0
          width: 100%
          z-index: 3

        .dropdown-list
          list-style: none
          margin: 0
          padding: 0
          position: relative
          z-index: 4

          li
            display: block

            a
              color: var(--secondary-text-color)
              display: block
              font-size: 15px
              padding: 10px

              &:hover
                color: var(--primary-text-color)
                text-decoration: underline

      &.dropdown-open

        .category-dropdown
          display: inline-block
          opacity: 1
          visibility: visible

    .navigation-page-title, .category-nav-title
      display: inline-block
      font-size: 18px
      position: relative

      @media screen and (max-width: $break-medium)
        display: none

    .dropdown-section
      display: inline-block
      position: relative

    .open-categories
      color: var(--secondary-text-color)
      padding: 10px 0

      svg
        +transition(250ms linear all)
        fill: var(--secondary-text-color)
        height: 11px
        margin-left: 5px
        position: relative
        width: 15px

        &.hover
          +transform(rotate(-180deg))

  .store-name
    +transform(translateZ(0))
    color: var(--primary-text-color)
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.5em
    height: 100%
    text-align: center

    &.image
      height: calc(#{$header-height} / 2.8)

      @media screen and (max-width: $break-medium)
        height: calc(#{$header-height-tablet} / 2)

      @media screen and (max-width: $break-small)
        height: calc(#{$header-height-mobile} / 2)

      .store-link
        height: 100%

      img
        display: block
        height: auto
        margin: 0 auto
        max-height: 100%
        max-width: 100%
        width: auto

        @media screen and (max-width: $break-medium)
          float: right
          margin: 0

    .store-link
      color: var(--secondary-text-color)
      display: block

  .header-cart
    display: flex
    align-items: center
    justify-self: flex-end
    max-width: 33%
    position: relative
    text-align: right

    .cart-link
      display: flex
      align-items: center
      justify-content: center
      height: 60px
      position: relative
      text-align: center

      .cart-num-items
        font-size: 12px
        height: 30px
        position: absolute
        text-align: center
        top: 24px
        z-index: 10

    svg
      fill: var(--primary-text-color)
      height: 30px
      width: 30px

.category-nav-heading
  background: none
  padding: 0

.content
  padding: 40px 0 calc(11% + 80px)

  @media screen and (max-width: $break-medium)
    padding-top: 40px

  @media screen and (max-width: $break-small)
    padding-top: 20px

  h1
    margin-bottom: 60px
    text-align: center

  &.product

    .wrapper
      max-width: 1200px

  &.custom

    .wrapper
      max-width: calc(800px + 7%)

    .custom-page-content
      color: var(--secondary-text-color)
      font-family: $secondary-font

      p
        margin: revert

      &>:first-child
        margin-top: 0

      &>:last-child
        margin-bottom: 0

      ol, ul
        margin: 1em

      ul
        list-style: disc

      ol
        list-style: decimal

      a
        text-decoration: underline

  &.page-contact
    .wrapper
      max-width: calc(760px + 7%)

  &.page-cart
    .wrapper
      max-width: calc(880px + 7%)

.select
  border-radius: var(--border-radius)
  border: 1px solid var(--secondary-text-color)
  color: var(--secondary-text-color)
  font-family: $secondary-font
  height: 60px
  padding: 0
  position: relative
  width: 100%

  select
    height: 100%
    padding: 0 50px 0 20px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    transition: fill .2s linear
    fill: var(--secondary-text-color)
    height: 8px
    margin-top: -2px
    position: absolute
    right: 20px
    top: 50%
    width: 13px
    z-index: 1

  &:hover
    color: var(--secondary-text-color)
    border-color: var(--secondary-text-color)

    select
      color: var(--primary-text-color)

      option:disabled
        color: graytext

    svg
      fill: var(--primary-text-color)

.button, a.button
  +transition(all .2s linear)
  background-color: var(--button-background-color)
  border-radius: var(--border-radius)
  color: var(--button-text-color)
  height: 60px
  display: flex
  align-items: center
  justify-content: center
  max-width: 275px
  padding: 0 20px
  text-align: center
  white-space: pre-wrap
  width: 100%

  &.minimal-button
    +transform(none)
    background: none
    color: var(--primary-text-color)
    border: none
    padding: 0
    text-decoration: underline
    text-underline-offset: 4px

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      +transform(none)
      box-shadow: none
      background: none
      color: var(--secondary-text-color)

  &:disabled, &.disabled
    cursor: not-allowed

  &.centered-button
    margin: 60px auto

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    background-color: var(--button-hover-background-color)
    color: var(--button-text-color)
    opacity: .8

input, textarea
  +appearance(none)
  border-radius: var(--border-radius)
  background: var(--background-color)
  border: 1px solid var(--secondary-text-color)
  color: var(--secondary-text-color)
  font-family: $secondary-font
  font-size: 16px
  max-width: 100%
  padding: 14px

.overlay
  overflow-y: auto !important
  +transition(opacity 0.3s, visibility 0.3s)
  height: 100%
  left: 0
  opacity: 0
  position: fixed
  text-align: left
  top: 0
  visibility: hidden
  width: 100%
  z-index: 4

  &.open
    opacity: 1
    visibility: visible

  .overlay-background
    opacity: 1
    background: var(--background-color)
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
    z-index: 5

  .wrapper
    height: 100%
    margin: 0 auto
    overflow-y: scroll
    padding-bottom: 140px
    position: relative

  .close-container
    +flexbox
    +align-items(center)
    +justify-content(flex-start)
    height: $header-height

  .close-overlay
    +flexbox
    +align-items(center)
    +justify-content(center)
    background: none
    height: 36px
    line-height: 1em
    padding: 0
    width: 36px
    z-index: 6

    svg
      height: 18px
      fill: var(--primary-text-color)
      width: 18px

  .overlay-navigation
    margin: 0
    max-width: 100%
    padding: 0
    position: relative
    z-index: 6

    .page-list
      list-style: none
      display: flex
      flex-direction: column
      margin: -10px 0 0 -5px
      padding: 0
      row-gap: 20px

      @media screen and (max-width: $break-small)
        margin-top: 20px

      li

        a
          transition: color .2s linear
          +transform(translateZ(0px))
          color: var(--primary-text-color)
          display: inline-block
          font-size: 2em
          padding: 0 5px

          @media screen and (max-width: $break-medium)
            font-size: 1.25em

          &:hover
            color: var(--secondary-text-color)
            text-decoration: underline

  .social-icons
    margin: 0 0 0 -5px
    margin: 30px 0
    padding: 0
    position: relative
    z-index: 6
    display: flex
    align-items: center
    justify-content: flex-start
    column-gap: 20px
    row-gap: 16px
    list-style: none
    flex-wrap: wrap

    li
      a
        color: var(--secondary-text-color)
        display: block
        padding: 5px
        transition: opacity .2s linear

        svg
          fill: currentColor
          height: 20px
          width: 20px

        &:hover
          opacity: .6

  .bigcartel-credit
    line-height: 1em
    font-size: 15px
    display: inline-flex
    align-items: center
    gap: 8px
    outline-offset: 4px
    padding: 2px 0
    text-decoration: none
    margin: 60px 0 60px 2px

    @media screen and (max-width: $break-small)
      margin: 50px 0

    &:hover, &:focus
      text-decoration: none

    &__text
      position: relative

    &__lockup
      display: block
      fill: currentColor
      padding-top: 1px
      width: 86px

.visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.message-banner
  padding: 16px
  margin: 0 auto 32px
  text-align: center
  width: 100%
  max-width: 760px

  &--centered
    text-align: center

  &--no-bg
    color: var(--primary-text-color)
    background: none
    padding: 0