@import 'variables'

.product-list
  +flexbox
  +flex-wrap(wrap)
  +flex-direction(row)
  +justify-content(space-around)
  list-style: none
  margin: 0 -5.5%
  padding: 0

  @media screen and (max-width: $break-small)
    margin: 0

.product-list-thumb
  +flexbox
  +align-self(center)
  padding: 0 3.5% calc(80px)
  text-align: #{"{% if theme.product_detail_alignment == 'Left' %} left {% else %} center {% endif %}"}
  width: 33%

  @media screen and (max-width: $break-medium)
    padding-bottom: 60px
    width: 50%

  @media screen and (max-width: $break-small)
    padding-bottom: 40px
    width: 100%

.product-list-link
  +transition(opacity .2s linear)
  color: $primary-color
  display: block
  width: 100%

  &:hover, &:focus
    opacity: .8
    text-decoration: none

  @media screen and (max-width: $break-small)
    padding: 0

.product-list-image-container
  overflow: hidden
  position: relative

  &.product-list-image-container-default:before
    display: none

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%

  &.grid-default
    position: relative

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.product-list-thumb-info
  font-size: 22px
  line-height: 1.25em
  padding: 10px 0
  position: relative

.product-list-thumb-name
  +transition(color .2s ease)
  font-family: $primary-font
  font-size: 22px
  overflow-wrap: break-word
  position: relative

  @media screen and (max-width: $break-medium)
    font-size: 18px

.product-list-thumb-price
  +transition(color .2s ease)
  color: $secondary-color
  font-family: $secondary-font
  font-size: 16px
  margin-top: 6px

.product-list-thumb-status
  display: inline-block
  font-style: italic
  font-weight: normal

.no-products-message
  text-align: center

.pagination
  +flexbox
  +justify-content(center)
  +align-items(center)
  +flex-wrap(wrap)
  font-family: $secondary-font
  font-size: 16px
  margin: 0 auto
  max-width: 700px
  padding-bottom: 20px
  text-align: center
  width: 100%

  a, span
    +border-radius(50%)
    +flexbox
    +align-items(center)
    +justify-content(center)
    border: 1px solid transparent
    color: $secondary-color
    height: 40px
    line-height: 38px
    margin: 4px 6px
    text-align: center
    width: 40px

    &:hover, &:focus
      color: $primary-color

    &.previous, &.next
      border: none
      padding: 0 10px

      svg
        fill: $secondary-color
        height: 18px
        width: 18px

    &.previous svg
      +rotate(90deg)

    &.next svg
      +rotate(-90deg)

    &.current
      border: 1px solid $secondary-color

    &.disabled
      display: none

.fade-in
  opacity: 0
  +animation(fadeIn 800ms normal forwards ease-in-out)

+keyframes(fadeIn)
  0%
    opacity: 0

  100%
    opacity: 1