.product-breadcrumb
  margin-bottom: 12px
  display: flex
  align-items: center
  justify-content: flex-start
  column-gap: 12px
  row-gap: 4px
  flex-wrap: wrap

  @media screen and (max-width: $break-small)
    font-size: .925em

  .next-arrow
    width: 5px
    fill: var(--primary-text-color)
    opacity: .8

  a
    text-decoration: none

    &:hover
      text-decoration: underline

.product-container
  display: grid
  grid-template-columns: 1fr 400px
  column-gap: 60px
  row-gap: 40px

  @media screen and (max-width: $break-large)
    column-gap: 40px
    grid-template-columns: 1fr 360px

  @media screen and (max-width: $break-medium)
    grid-template-columns: minmax(0, 1fr)

.reset-selection-button-container
  text-align: center
  width: 100%

  button.reset-selection-button
    display: none

.product-form
  width: 100%

  button
    max-width: 100%

  @media screen and (max-width: $break-large)
    max-width: 100%

.product-selects
  margin-bottom: 20px

.product-option-groups
  display: flex
  flex-direction: column
  gap: 16px

.product-detail
  display: flex
  flex-direction: column
  row-gap: 36px

  &__header
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title, .page-title
    color: var(--primary-heading-text-color)
    font-size: 2em
    line-height: 1.2
    padding-bottom: 10px

    @media screen and (max-width: $break-large)
      font-size: 1.9em

    @media screen and (max-width: $break-small)
      font-size: 1.5em

  &__status
    font-size: .875em
    line-height: normal
    display: inline-block

  &__pricing
    display: flex
    align-items: center
    font-size: 1.3em
    color: var(--primary-text-color)

    @media screen and (max-width: $break-small)
      font-size: 1.1em

  &__separator
    margin: 0 8px

  &__description
    p
      margin: revert

    &>:first-child
      margin-top: 0

    &>:last-child
      margin-bottom: 0

    ol, ul
      padding-left: 1.5em
      margin: 1em 0

      ol, ul
        margin: 0.5em 0

    ul
      list-style: disc

    ol
      list-style: decimal

    a
      text-decoration: underline
    
    img
      display: inline-block
      margin: 0 auto
      max-width: 100%
      margin-bottom: 16px

    iframe
      display: block
      margin: 0 auto
      max-width: 100%
      margin-bottom: 16px

  .page-title
    color: var(--primary-heading-text-color)
    margin-bottom: 0
    text-align: left

.related-products-container
  margin-top: 100px

.related-products-header
  display: flex
  align-items: center

  @media screen and (max-width: $break-extra-small)
    display: block

  .related-products-view-all-link
    margin-left: auto

    &:hover
      text-decoration: underline
      text-underline-offset: 3px

.related-product-list.product-list
  --columns: 4

  @media screen and (max-width: $break-medium)
    justify-content: flex-start

  @media screen and (max-width: $break-large)
    --columns: 3
    --gap: calc(var(--spacing-unit) * 2)
  
  @media screen and (max-width: $break-small)
    --columns: #{"{{ theme.max_products_per_row_mobile }}"}

#instant-checkout-button
  margin-top: 12px

.inventory-status-message
  color: var(--inventory-status-text-color)
  font-size: 0.9em
  margin: 10px 0 auto
  text-align: center
  padding: 8px 0
  font-weight: 500

#payment-processor-messaging
  margin: 20px 0 0
  width: 100%
  display: block
  
  body[data-bc-page-type="product"] &
    margin: 0

  body[data-bc-page-type="cart"] &
    margin-bottom: 20px

  &.display-flex
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &.dual-messaging
      gap: 15px
  
  &.display-grid
    display: grid
  
  &.hidden
    position: absolute
    left: -9999px
    top: -9999px

  > div
    margin-bottom: 0
  
  // Only apply the margin for non-flex layouts when dual messaging is present
  &:not(.display-flex)
    &.dual-messaging > div.visible:first-of-type
      margin-bottom: 15px