{% if cart.items != blank %}
  <h1 class="page-header cart-header" data-empty-text="Your bag is empty">Your bag</h1>
{% else %}
  <h1 class="page-header cart-header cart-empty-title">Your bag is empty</h1>
{% endif %}

{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if cart.items != blank %}

  <form method="post" action="/cart" id="cart-form" class="cart-form">
    
    <ul class="cart-items">
      {% for item in cart.items %}
        <li class="cart-item" data-cart-id="{{ item.id }}">
          <div class="item-image-details">
            <a class="item-image" href="{{ item.product.url }}" title="View {{ item.product.name }}" style="background-image:url('{{ item.product.image | product_image_url | constrain: 576, 576 }}');"></a>
            <div class="item-details">
              <a class="item-product-link" title="View {{ item.product.name }}" href="{{ item.product.url }}">
                <span class="item-details-name">{{ item.product.name }}</span>
                {% unless item.product.has_default_option %}
                  <span class="item-details-option">{{ item.option.name }}</span>
                {% endunless %}
                <span class="item-details-price">{{ item.unit_price | money_with_sign }}</span>
              </a>
            </div>
          </div>
          <div class="item-quantity-holder" data-cart-id="{{ item.id }}">
            <button class="decrease-qty-button qty" type="button" data-func="minus"><svg viewBox="0 0 20 20"><path d="M5 9h10v2H5z"/><path d="M5 9h10v2H5z"/></svg></button>
            {{ item | item_quantity_input, '', 'quantity' }}
            <button class="increase-qty-button qty" type="button" data-func="plus"><svg viewBox="0 0 20 20"><path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4z"/></svg></button>
          </div>
          <div class="price">{{ item.unit_price | money_with_sign }}</div>
        </li>
        
      {% endfor %}
    </ul>
    
    <div class="cart-footer">
      
      {% if cart.shipping.enabled or cart.discount.enabled %}
        <div class="cart-discounts-shipping">
          {% if cart.shipping.enabled %}
            <div class="cart-shipping">
              <div class="select country-select">
                {{ store.country | country_select }}
                <svg viewBox="0 0 13.4 8.1"><path d="M6.8 8.1L0 1.75 1.36.3l5.38 5L11.97 0l1.42 1.4-6.6 6.7z" /></svg>
              </div>
            </div>
          {% endif %}
          {% if cart.discount.enabled %}
            <div class="cart-discounts">
              {% if cart.discount.pending %}
                <input autocomplete="off" class="cart-discount-code" name="cart[discount_code]" type="text" placeholder="Enter discount code"{% if cart.discount.code %} value="{{ cart.discount.code }}"{% endif %}>
                <a href="#" title="Apply discount" class="apply-discount"><svg class="apply-discount-button" viewBox="0 0 46 46"><path d="M46 20v6H26v20h-7V26H0v-6h19V0h7v20z"/></svg></a>
              {% else %}
                {% if cart.discount.free_shipping %}
                  Free shipping discount!
                {% else %}
                  {{ cart.discount.name }}
                {% endif %}
                <a href="#" title="Remove discount" class="cancel-discount"><svg class="cancel-discount-button" viewBox="0 0 20 20"><path d="M15 6.4L13.6 5 10 8.6 6.4 5 5 6.4 8.6 10 5 13.6 6.4 15l3.6-3.6 3.6 3.6 1.4-1.4-3.6-3.6z"/></svg></a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
      
      <div class="cart-totals">
        {% if cart.shipping.enabled or cart.discount.enabled %}
          <div class="cart-subtotals">
            {% if cart.shipping.enabled %}
              <h4 class="cart-shipping-amount">
                Shipping
                {% if cart.shipping.pending %}
                  {% if cart.country %}
                    <span class="small-message">Select another country</span>
                  {% else %}
                    <span class="small-message">Select country</span>
                  {% endif %}
                {% else %}
                  <span>{{ cart.shipping.amount | money_with_sign }}</span>
                {% endif %}
              </h4>
            {% endif %}
            {% if cart.discount.enabled %}
              {% if cart.discount.pending %}
              {% elsif cart.discount.free_shipping %}
                <h4 class="cart-discount-amount">Discount <span class="small-message">Free shipping</span></h4>
              {% else %}
                <h4 class="cart-discount-amount">Discount <span>- {{ cart.discount.amount | money_with_sign }}</span></h4>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        <h3>Total  <span>{{ cart.total | money_with_sign }}</span></h3>
        <button type="submit" name="checkout" title="Checkout" class="button checkout-btn">Checkout</button>
        <a class="button continue-shopping" href="/products">Continue shopping</a>
      </div>
      
    </div>
    
  </form>
  <div class="cart-empty-message hidden-message">
    <p><a class="button start-shopping" href="/products">Start shopping</a></p>
  </div>
{% else %}
  <div class="cart-empty-message">
    <p><a class="button start-shopping" href="/products">Start shopping</a></p>
  </div>
{% endif %}