{% if cart.items != blank %}
  <h1 class="page-header cart-header" data-empty-text="Your bag is empty">Your bag</h1>
{% else %}
  <h1 class="page-header cart-header cart-empty-title">Your bag is empty</h1>
{% endif %}

{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

<div class="cart-container{% if cart.item_count == 0 %} empty-cart{% endif %}">
  <div class="empty-cart-message">
    <a class="button start-shopping" href="/products">Start shopping</a>
  </div>
  {% if cart.items != blank %}
    <form method="post" action="/cart" id="cart-form" class="cart-form">
      <ul class="cart-items">
        {% for item in cart.items %}
          {% assign image_width = item.product.image.width | times: 1.0 %}
          {% assign image_height = item.product.image.height | times: 1.0 %}
          {% assign aspect_ratio = image_width | divided_by: image_height %}
          <li class="cart-item" data-item-id="{{ item.id }}">
            <div class="item-image-details">
              <a class="item-image" href="{{ item.product.url }}" title="View {{ item.product.name }}">
                <img
                  alt=""
                  class="blur-up lazyload"
                  data-aspectratio="{{ aspect_ratio }}"
                  src="{{ item.product.image | product_image_url | constrain: 20 }}"
                  data-srcset="
                    {{ item.product.image | product_image_url | constrain: 140 }} 140w,
                    {{ item.product.image | product_image_url | constrain: 280 }} 280w,
                    {{ item.product.image | product_image_url | constrain: 400 }} 400w,
                    {{ item.product.image | product_image_url | constrain: 560 }} 560w,
                  "
                  data-sizes="auto"
                >
              </a>
              <div class="item-details">
                <a class="item-product-link" title="View {{ item.product.name }}" href="{{ item.product.url }}">
                  <div class="item-details-name">{{ item.product.name }}</div>
                  <div class="item-details-option">
                    {% unless item.product.has_default_option %}
                      {{ item.option.name }} -
                    {% endunless %}
                    {{ item.unit_price | money: theme.money_format }}
                  </div>
                </a>
              </div>
            </div>
            <div class="item-quantity-holder" data-item-id="{{ item.id }}">
              <button data-item-id="{{ item.id }}" title="Decrease quantity" class="decrease-qty-button qty-button button min-btn" data-func="minus" type="button">
                <svg aria-hidden="true" height="20" width="20" viewBox="0 0 20 20"><path d="M5 9h10v2H5z"/><path d="M5 9h10v2H5z"/></svg>
              </button>
              <label class="visually-hidden" for="item_{{item.id}}_qty">Quantity</label>
              {{ item | item_quantity_input, nil, 'option-quantity' }}
              <button data-item-id="{{ item.id }}" title="Increase quantity" class="increase-qty-button qty-button button min-btn" data-func="plus" type="button">
                <svg aria-hidden="true" height="20" width="20" viewBox="0 0 20 20"><path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4z"/></svg>
              </button>
            </div>
            <div class="item-details-price">{{ item.price | money: theme.money_format }}</div>
          </li>
        {% endfor %}
      </ul>
      <div class="cart-footer">
        <div class="cart-subtotal" aria-live="polite" aria-atomic="true">
          <span class="cart-subtotal-label">Subtotal</span>
          <span class="cart-subtotal-amount">{{ cart.subtotal | money: theme.money_format }}</span>
        </div>
        <div class="cart-buttons">
          <button type="submit" name="checkout" class="button checkout-btn">Checkout</button>
          <a class="button continue-shopping minimal-button" href="/products">Continue shopping</a>
        </div>
      </div>
    </form>
  {% endif %}
</div>