<h1 class="page-header contact-header">{{ page.name }}</h1>
{% if errors != blank %}
  <div class="errors">
    {% for error in errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

{% if contact.sent %}
  <p class="message-sent">{{ t['contact.form_success'] }}</p>
{% else %}
  {% if theme.contact_text != blank %}
    <div class="message-banner message-banner--contact">{{ theme.contact_text }}</div>
  {% endif %}

  {% if theme.show_contact_form != false %}
    <form method="post" action="/contact" class="contact-form">
      <div class="form-block contact-name">
        <label for="name">{{ t['contact.name'] }}</label>
        {{ contact | contact_input: 'name' }}
      </div>
      <div class="form-block contact-email">
        <label for="email">{{ t['contact.email'] }}</label>
        {{ contact | contact_input: 'email' }}
      </div>
      <div class="form-block contact-subject">
        <label for="subject">{{ t['contact.subject'] }}</label>
        {{ contact | contact_input: 'subject' }}
      </div>
      <div class="form-block contact-message">
        <label for="message">{{ t['contact.message'] }}</label>
        {{ contact | contact_input: 'message' }}
      </div>
      <div class="form-block contact-send">
        <button class="button" type="submit" name="submit">{{ t['contact.send_button'] }}</button>
      </div>
      <div class="form-block contact-recaptcha">
        <div class="recaptcha-note">{{ contact.recaptcha }}</div>
      </div>
    </form>
  {% endif %}
{% endif %}
