{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if theme.welcome_image or theme.welcome_message != blank %}
  <div class="home-welcome">
    {% if theme.welcome_image %}<a href="/products"><img class="welcome-image" src="{{ theme.images.welcome_image.url | constrain: 1400,'' }}"></a>{% endif %}
    <div class="welcome-message">
      <h2 class="welcome-header">{{ theme.welcome_message }}</h2>
      <a class="welcome-button" href="/products" title="Start shopping">Start shopping</a>
    </div>
  </div>
{% endif %}

{% if theme.featured_items_type == 'Categories' %}
  {% if categories.active != blank and theme.featured_items > 0 %}
    <div class="carousel-holder">
      <div class="carousel carousel-main">
        {% for category in categories.active limit:theme.featured_items %}
          {% for product in category.products limit:1 %}
            <div class="carousel-cell">
              <div class="category-image" style="background-image:url('{{ product.image | product_image_url | constrain: 1000,1000 }}');"></div>
              
              <div class="category-name">
                <a href="{{ category.url }}" class="category-text">
                  <div class="category-title">{{ category.name }}</div>
                  <div class="category-subtitle">Shop now</div>
                </a>
              </div>
              
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      {% if categories.active != blank and theme.featured_items > 1 %}
        <div class="carousel carousel-nav">
          {% for category in categories.active limit:theme.featured_items %}
            <div class="carousel-cell">{{ forloop.index }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
  
{% else %}
  {% if products.current != blank and theme.featured_items > 0 %}
    <div class="carousel-holder">
      <div class="carousel carousel-main">
        {% for product in products.current limit:theme.featured_items %}
          <div class="carousel-cell">
            <div class="category-image" style="background-image:url('{{ product.image | product_image_url | constrain: 1000,1000 }}');"></div>
            <div class="category-name">
              <a href="{{ product.url }}" class="category-text">
                <div class="category-title">{{ product.name }}</div>
                <div class="category-subtitle">Shop now</div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if products.current != blank and theme.featured_items > 1 %}
        <div class="carousel carousel-nav">
          {% for product in products.current limit:theme.featured_items %}
            <div class="carousel-cell">{{ forloop.index }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}