{% if errors != blank %}
  <div class="errors">
    {% for error in errors %}
      <div>{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

{% if theme.welcome_image or theme.welcome_message != blank or theme.welcome_button_text != blank %}
  <div class="home-welcome">
    {% if theme.welcome_image %}<a href="/products"><img class="welcome-image" src="{{ theme.images.welcome_image.url | constrain: 2000,1400 }}"></a>{% endif %}
    {% if theme.welcome_message != blank or theme.welcome_button_text != blank %}
      <div class="welcome-message">
        {% if theme.welcome_message != blank %}<h2 class="welcome-header">{{ theme.welcome_message }}</h2>{% endif %}
        {% if theme.welcome_button_text != blank %}<a class="button welcome-button" href="/products" title="{{ theme.welcome_button_text }}">{{ theme.welcome_button_text }}</a>{% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}


{% if theme.featured_items_type == 'Categories' %}
  {% if categories.active != blank and theme.featured_items > 0 %}
    <div class="home-featured-categories">
      <h1 class="page-title">{{ theme.featured_header }}</h1>
      {% for category in categories.active limit:theme.featured_items %}
        <div class="featured-category">
          <div class="featured-category-info">
            <div class="featured-category-name">{{ category.name }}</div>
            <a class="featured-category-button button" href="{{ category.url }}">Shop Now</a>
          </div>
          <div class="featured-category-products">
            {% for product in category.products limit:2 %}
              <div class="featured-category-product {% if forloop.length == 1 %}single-featured-product{% endif %}">
                <img
                  alt="{{ product.name | escape }}"
                  class="blur-up featured-category-product-image lazyload"
                  src="{{ product.image | product_image_url | constrain: 20 }}"
                  data-srcset="
                    {{ product.image | product_image_url | constrain: 240 }} 240w,
                    {{ product.image | product_image_url | constrain: 320 }} 320w,
                    {{ product.image | product_image_url | constrain: 400 }} 400w,
                    {{ product.image | product_image_url | constrain: 540 }} 540w,
                    {{ product.image | product_image_url | constrain: 600 }} 600w,
                    {{ product.image | product_image_url | constrain: 800 }} 800w,
                    {{ product.image | product_image_url | constrain: 960 }} 960w
                  "
                  data-sizes="auto"
                >
              </div>
            {% endfor %}
          </div>
          <a class="featured-category-button mobile-button button" href="{{ category.url }}">Shop Now</a>
        </div>
      {% endfor %}
    </div>
    {% if theme.all_products_button_text != blank %}<a class="button centered-button" href="/products">{{ theme.all_products_button_text }}</a>{% endif %}
  {% endif %}

{% else %}
  {% if theme.featured_items > 0 %}
    <div class="home-featured-products">
      <h1 class="page-title">{{ theme.featured_header }}</h1>
      {% paginate products from products.current by theme.featured_items order:theme.featured_order %}
        {% assign num_results = paginate.items %}
        {% if paginate.next.is_link %}
          {% assign num_results = paginate.current_offset | plus: paginate.page_size %}
        {% endif %}
        {% if products != blank %}
          <div class="product-list-container">
            <div class="product-list {% if num_results < 4 %}product-list--center{% endif %}">
              {% for product in products %}
                {% assign image_width = product.image.width | times: 1.0 %}
                {% assign image_height = product.image.height | times: 1.0 %}
                {% assign aspect_ratio = image_width | divided_by: image_height %}
                {% assign product_status = '' %}
                {% case product.status %}
                  {% when 'active' %}
                    {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
                  {% when 'sold-out' %}
                    {% assign product_status = 'Sold out' %}
                  {% when 'coming-soon' %}
                    {% assign product_status = 'Coming soon' %}
                {% endcase %}
                <div class="product-list-thumb {{ product.css_class }}">
                  <a
                    class="product-list-link{% if product.images[1] != blank and theme.secondary_image_on_hover == true %} product-list-link--show-secondary{% endif %}"
                    href="{{ product.url }}" title="View {{ product.name | escape }}">
                    <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                      <img
                        alt=""
                        class="blur-up product-list-image product-list-image--primary lazyload grid-{{ theme.grid_image_style }}"
                        src="{{ product.image | product_image_url | constrain: 20 }}"
                        {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                        data-srcset="
                          {{ product.image | product_image_url | constrain: 240 }} 240w,
                          {{ product.image | product_image_url | constrain: 320 }} 320w,
                          {{ product.image | product_image_url | constrain: 400 }} 400w,
                          {{ product.image | product_image_url | constrain: 540 }} 540w,
                          {{ product.image | product_image_url | constrain: 600 }} 600w,
                          {{ product.image | product_image_url | constrain: 800 }} 800w,
                          {{ product.image | product_image_url | constrain: 960 }} 960w
                        "
                        data-sizes="auto"
                      >
                      {% if product.images[1] != blank and theme.secondary_image_on_hover == true %}
                        {% assign image_width = product.image.width | times: 1.0 %}
                        {% assign image_height = product.image.height | times: 1.0 %}
                        {% assign aspect_ratio = image_width | divided_by: image_height %}
                        <img
                          alt=""
                          class="blur-up product-list-image product-list-image--secondary lazyload grid-{{ theme.grid_image_style }}"
                          src="{{ product.images[1] | product_image_url | constrain: 20 }}"
                          {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                          data-srcset="
                            {{ product.images[1] | product_image_url | constrain: 240 }} 240w,
                            {{ product.images[1] | product_image_url | constrain: 320 }} 320w,
                            {{ product.images[1] | product_image_url | constrain: 400 }} 400w,
                            {{ product.images[1] | product_image_url | constrain: 540 }} 540w,
                            {{ product.images[1] | product_image_url | constrain: 600 }} 600w,
                            {{ product.images[1] | product_image_url | constrain: 800 }} 800w,
                            {{ product.images[1] | product_image_url | constrain: 960 }} 960w
                          "
                          data-sizes="auto"
                        >
                      {% endif %}
                      {% if product_status != blank %}<div class="product-list-thumb-status">{{ product_status }}</div>{% endif %}
                    </div>
                    <div class="product-list-thumb-info">
                      <div class="product-list-thumb-name">{{ product.name }}</div>
                      <div class="product-list-thumb-price">
                        {% if product.variable_pricing %}
                          {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
                        {% else %}
                          {{ product.default_price | money: theme.money_format }}
                        {% endif %}
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
          {% if paginate.pages > 1 %}
            {% if theme.all_products_button_text != blank %}<a class="button centered-button" href="/products">{{ theme.all_products_button_text }}</a>{% endif %}
          {% endif %}
        {% else %}
          <div class="message-banner message-banner--centered message-banner--no-bg">No products found.</div>
        {% endif %}
      {% endpaginate %}
    </div>
  {% endif %}
{% endif %}