{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if theme.welcome_image or theme.welcome_message != blank or theme.welcome_button_text != blank %}
  <div class="home-welcome">
    {% if theme.welcome_image %}<a href="/products"><img class="welcome-image" src="{{ theme.images.welcome_image.url | constrain: 2000,1400 }}"></a>{% endif %}
    {% if theme.welcome_message != blank or theme.welcome_button_text != blank %}
      <div class="welcome-message">
        {% if theme.welcome_message != blank %}<h2 class="welcome-header">{{ theme.welcome_message }}</h2>{% endif %}
        {% if theme.welcome_button_text != blank %}<a class="button welcome-button" href="/products" title="{{ theme.welcome_button_text }}">{{ theme.welcome_button_text }}</a>{% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% if theme.featured_items_type == 'Categories' %}
  <h1 class="page-header visually-hidden">Featured categories</h1>
  {% if categories.active != blank and theme.featured_items > 0 %}
    <div class="carousel-holder">
      <div class="carousel carousel-main">
        {% for category in categories.active limit:theme.featured_items %}
          {% for product in category.products limit:1 %}
            <a href="{{ category.url }}" class="carousel-cell">
              <div class="category-image" style="background-image:url('{{ product.image | product_image_url | constrain: 1000,1000 }}');"></div>

              <div class="category-name">
                <div class="category-text">
                  <div class="category-title">{{ category.name }}</div>
                  <div class="category-subtitle">Shop now</div>
                </div>
              </div>

            </a>
          {% endfor %}
          {% assign num_categories = forloop.length %}
        {% endfor %}
      </div>
      <div class="carousel carousel-nav"{% if num_categories == 1 %} style="display:none;"{% endif %}>
        {% for category in categories.active limit:theme.featured_items %}
          <div class="carousel-cell">{{ forloop.index }}</div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% else %}
  <h1 class="page-header visually-hidden">Featured products</h1>
  {% if theme.featured_items > 0 %}
    {% get products from products.all limit:theme.featured_items %}
      {% if products != blank %}
        <div class="carousel-holder">
          <div class="carousel carousel-main">
            {% for product in products %}
              <a href="{{ product.url }}" class="carousel-cell">
                <div class="category-image" style="background-image:url('{{ product.image | product_image_url | constrain: 1000,1000 }}');"></div>
                <div class="category-name">
                  <div class="category-text">
                    <div class="category-title">{{ product.name }}</div>
                    <div class="category-subtitle">Shop now</div>
                  </div>
                </div>
              </a>
              {% assign num_products = forloop.length %}
            {% endfor %}
          </div>
          <div class="carousel carousel-nav"{% if num_products == 1 %} style="display:none;"{% endif %}>
            {% for product in products %}
              <div class="carousel-cell">{{ forloop.index }}</div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endget %}
  {% endif %}
{% endif %}