{% if categories.active != blank or artists.active != blank %}
  <nav class="horizontal-nav products-page-nav" aria-label="Product category navigation">
    <ul class="nav" role="menubar" aria-hidden="false">
      <li class="nav-menu-item" role="menuitem" aria-haspopup="{% if categories.active == blank and artists.active == blank %}false{% else%}true{% endif %}">
        {% if categories.active != blank or artists.active != blank %}
          <a href="#">
            <h1 class="active-category-page">{{ pages.products.name }}</h1>
            <svg aria-hidden="true" height="14" width="14" class="category-nav-arrow" viewBox="0 0 13.4 8.1"><path d="M6.8 8.1L0 1.75 1.36.3l5.38 5L11.97 0l1.42 1.4-6.6 6.7z" /></svg>
          </a>
          <ul aria-hidden="true" role="menu" class="horizontal-nav-links">
            <li class="horizontal-nav-link" role="menuitem"><a href="/products" tabindex="-1">All products</a></li>
            {% for category in categories.active %}
              <li class="horizontal-nav-link"><a href="{{ category.url }}" tabindex="-1">{{ category.name }}</a></li>
            {% endfor %}
            {% for artist in artists.active %}
              <li class="horizontal-nav-link{% if page.full_url contains artist.url && page.name == artist.name %} active-link{% endif %}"><a href="{{ artist.url }}" tabindex="-1">{{ artist.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}

{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <div class="product-list">
      {% for product in products %}
        {% assign image_width = product.image.width | times: 1.0 %}
        {% assign image_height = product.image.height | times: 1.0 %}
        {% assign aspect_ratio = image_width | divided_by: image_height %}
        {% assign product_status = '' %}
        {% case product.status %}
          {% when 'active' %}
            {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
          {% when 'sold-out' %}
            {% assign product_status = 'Sold out' %}
          {% when 'coming-soon' %}
            {% assign product_status = 'Coming soon' %}
        {% endcase %}
        {% capture image_class %}
          {% if product.image.height > product.image.width %}
            image-tall
          {% elsif product.image.height < product.image.width %}
            image-wide
          {% else %}
            image-square
          {% endif %}
        {% endcapture %}
        <div class="fade-in product-list-thumb {{ product.css_class }}">
          <a class="product-list-link" href="{{ product.url }}" title="View {{ product.name | escape }}">
            <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
              <img
                alt=""
                class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                src="{{ product.image | product_image_url | constrain: 20 }}"
                {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                data-srcset="
                  {{ product.image | product_image_url | constrain: 240 }} 240w,
                  {{ product.image | product_image_url | constrain: 320 }} 320w,
                  {{ product.image | product_image_url | constrain: 400 }} 400w,
                  {{ product.image | product_image_url | constrain: 540 }} 540w,
                  {{ product.image | product_image_url | constrain: 600 }} 600w,
                  {{ product.image | product_image_url | constrain: 800 }} 800w,
                  {{ product.image | product_image_url | constrain: 1000 }} 1000w,
                  {{ product.image | product_image_url | constrain: 1200 }} 1200w,
                  {{ product.image | product_image_url | constrain: 1600 }} 1600w
                "
                data-sizes="auto"
              >
            </div>
            <div class="product-list-thumb-info">
              <div class="product-list-thumb-name">{{ product.name }}</div>
              <div class="product-list-thumb-price">
                {{ product.default_price | money: theme.money_format }}
                {% if product_status != blank %}
                  <div class="product-list-thumb-status">{{ product_status }}</div>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <nav class="pagination-controls" aria-label="Pagination">
        {{ paginate | default_pagination, 'pagination', 'pagination', '<svg height="14" width="14" class="prev-button" viewBox="0 0 13.4 8.1"><path d="M6.8 8.1L0 1.75 1.36.3l5.38 5L11.97 0l1.42 1.4-6.6 6.7z" /></svg>', '<svg class="next-button" height="14" width="14" viewBox="0 0 13.4 8.1"><path d="M6.8 8.1L0 1.75 1.36.3l5.38 5L11.97 0l1.42 1.4-6.6 6.7z" /></svg>' }}
      </nav>
    {% endif %}
  {% else %}
    <p class="no-products-message">No products found.</p>
  {% endif %}
{% endpaginate %}